@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;400;500;600&family=Roboto+Condensed:wght@300;400&display=swap');
#footer {
  width: 99.5%;
  height: auto;
  background-color: #f9f9f9;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
#foot {
  width: 85%;
  height: auto;
  margin: auto;
  font-size: 17px;
  margin-top: 30px;
  line-height: 20px;
  margin-bottom: 30px;
}
a {
  color: black;
}
#foot_top {
  width: 85%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#foot_top > #app {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
#foot_top > #icon {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
#tata {
  width: 90%;
}
#list {
  width: 83%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 20%);
}
#list > #box1 {
  width: 80%;
  line-height: 150%;
}
#list > #box2 {
  width: 80%;
  line-height: 150%;
}
#list > #box3 {
  width: 80%;
  line-height: 150%;
}
#list > #box4 {
  width: 195%;
  line-height: 180%;
}
#box4 > .list-unstyled > li > a:hover {
  color: red;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-unstyled > li {
  padding-bottom: 10px;
}
.list-unstyled > li > a {
  color: grey;
  text-decoration: none;
}
#details {
  width: 99.5%;
  background-color: #f9f9f9;
  margin-top: 30px;
  height: 100px;
}
#flex {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
#flex > h4 {
  margin-top: 40px;
  font-size: 17px;
}

@media only screen and (max-width: 992px) {
  #Foot_container {
    width: 80%;
    margin: auto;
  }
  #list {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 180px;
  }
  #list > #box4 {
    width: 100%;
  }
  #flex {
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  #details {
    background-color: white;
  }
  #flex > h4 {
    font-size: 25px;
  }
  #footer {
    background-color: white;
    margin: auto;
  }
  #foot_top {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100px;
    margin-top: 20px;
  }
  #foot_top > #app {
    margin: auto;
    width: 80%;
    background-color: #f9f9f9;
    font-size: 30px;
  }
  #foot_top > #icon {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    background-color: #f9f9f9;
  }
  #foot_top > #tata {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  #foot {
    font-size: 20px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #Foot_container {
    display: none;
  }
}
